label.col.s12.search-item(data-accordion)
  a.flight-detail-trigger.right(href="#" style="z-index:99;" data-control) Detail ▾
  .row(style="padding:0;margin:0;")
    span.left= dpt_airlines
  hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
  input(type="radio" name="dpt" value= dpt_price)
  .row(style="padding:0;margin:0;")
    div.col.s6(style="padding-left:0")
      span(style="color:#8f8f8f")= dpt_route
      br
      strong= dpt_time
      br
      span(style="color:#8f8f8f;font-size:0.8em;letter-spacing:0.05em;")
        span=dpt_transit
        span(style="color:#8f8f8f;")=dpt_duration
    div.col.s6.right-align(style="padding-right:0;position:relative;")
      span.currency(style="color:#b4b4b4; text-decoration:line-through;")= dpt_price_before
      span(style="color:#434343;font-size:0.8em;")= dpt_total_combo
      br
      unless !dpt_smart_combo_bool  
        i
          strong.currency(style="color:#1ba0e2;font-size:1.2em;")= dpt_price
      else
        strong.currency(style="color:rgb(249,109,1);font-size:1.2em;")= dpt_price
      br
      unless !dpt_smart_combo_bool
        a.smart-combo-modal-trigger.modal-trigger(href="#smart-combo-modal" style="z-index:110;")
          span(style="border:1px solid rgb(249,109,1);color:rgb(249,109,1);font-size:0.8em;padding: 0.2em 0.5em;border-radius:4px;")= dpt_smart_combo
  include ./accordion-dpt-flight-detail.jade