- var rtn_prices = [100, 300, 500];
- var routes = ["Seoul", "Jakarta"];
-
 var rtn = [{
 id: 1,
 airlines: "AirAsia", flight_code: "AirAsia QZ-206",
 psc: "PSC, Free baggage 25kg",
 city_route_out: routes[0], airport_route_out: "ICN", long_airport_route_out: "Incheon Intl.",
 city_route_arvl: routes[1], airport_route_arvl: "CGK", long_airport_route_arvl: "Soekarno-Hatta Intl.",
 transit: 1,
 price_before: 0, price: rtn_prices[0],
 day_out: "Sat", date_out: 7, month_out: "Feb", year_out: 2016,
 day_arvl: "Sun", date_arvl: 8, month_arvl: "Feb", year_arvl: 2016, 
 time_out: "18:50", time_arvl: "15:05", time_duration: "18h 15m", time_tomorrow: true},
 {id: 2,
 airlines: "AirAsia + Sriwijaya", flight_code: "AirAsia QZ-208",
 psc: "PSC, Free baggage 25kg",
 city_route_out: routes[0], airport_route_out: "ICN", long_airport_route_out: "Incheon Intl.",
 city_route_arvl: routes[1], airport_route_arvl: "CGK", long_airport_route_arvl: "Soekarno-Hatta Intl.",
 transit: 0,
 price_before: 0, price: rtn_prices[1],
 day_out: "Sat", date_out: 7, month_out: "Feb", year_out: 2016,
 day_arvl: "Sat", date_arvl: 7, month_arvl: "Feb", year_arvl: 2016,
 time_out: "06:00",time_arvl: "04:00",time_duration: "2h 15m",time_tomorrow: false},
 {id: 3,
 airlines: "AirAsia + Sriwijaya", flight_code: "AirAsia QZ-208",
 psc: "PSC, Free baggage 25kg",
 city_route_out: routes[0], airport_route_out: "ICN", long_airport_route_out: "Incheon Intl.",
 city_route_arvl: routes[1], airport_route_arvl: "CGK", long_airport_route_arvl: "Soekarno-Hatta Intl.",
 transit: 0,
 price_before: 0, price: rtn_prices[2],
 day_out: "Sat", date_out: 7, month_out: "Feb", year_out: 2016,
 day_arvl: "Sat", date_arvl: 7, month_arvl: "Feb", year_arvl: 2016,
 time_out: "06:00",time_arvl: "04:00",time_duration: "2h 15m",time_tomorrow: false}];

each val, index in rtn
  label.col.s12.search-item(data-accordion)
    a.flight-detail-trigger.right(href="#" data-control) Detail ▾
    .row(style="padding:0;margin:0;margin-bottom:0.5em;")
      //- airlines name
      span.left= rtn[index].airlines

    
    .row(style="padding:0;margin:0;")
      .col.s6(style="padding-left:0")
        strong= rtn[index].time_out + " – " + rtn[index].time_arvl
        unless !rtn[index].time_tomorrow
          strong  (+1)
        br
        span(style="color:#8f8f8f")= rtn[index].airport_route_out + " ⇄ " + rtn[index].airport_route_arvl
      .col.s6.right-align(style="padding-right:0")
        span=rtn[index].time_duration
        br
        if rtn[index].transit > 0
          span(style="color:#8f8f8f;")=rtn[index].transit + " transit(s)"
        else
          span(style="color:#8f8f8f;") direct flight
    hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")  
    .row.valign-wrapper(style="padding:0;margin:0;")
      .col.s6(style="padding-left:0;position:relative;")
        span(style="color:#434343;") Round-trip Price
      .col.s6.right-align(style="padding-right:0;position:relative;")
        unless rtn[index].price_before == 0
          span.currency(style="color:#b4b4b4; text-decoration:line-through;")= rtn[index].price_before
          br
        strong(id="rtn-plussign-"+ [index] style="color:rgb(249,109,1);font-size:1.2em;")
        strong.currency(id="rtn-price-"+ [index] style="color:rgb(249,109,1);font-size:1.2em;")= rtn[index].price
        span(style="color:rgb(249,109,1);") /pax
    input(type="radio" name="rtn" value=rtn[index].price)
    
    //- flight details
    .row.detail(data-content)
      hr(style="width:100%;margin:0.5em auto;border-bottom:1px solid #dadada;")
      p.center-align Inclusive of airline Fee & Taxes
      hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
      //- detail tabs here
      .row
        .col.s12
          ul.tabs
            li.tab.col.s6.center-align
              a.detail-tab.active(href= "#rtn-flight-detail-" + [index] style="color:#1ba0e2;") Flight
            li.tab.col.s6.center-align
              a.detail-tab(href="#rtn-facility-detail-" + [index] style="color:#1ba0e2;") Facilities
            //- li.tab.col.s4.center-align
              a.detail-tab(href="#price-detail-" + [index] style="color:#1ba0e2;") Price
      //- detail tabs end

      hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
      div(id="rtn-flight-detail-"+ [index] class=".col.s12")
        .row(style="margin-bottom:16px;")
          .col.s12 
            h5(style="font-size:1.3em;")= rtn[index].flight_code    
        .row
          .col.s3.right-align
            strong= rtn[index].time_out
            br
            span(style="color:#8f8f8f;")= rtn[index].date_out + " " + rtn[index].month_out
          .col.s9
            strong=rtn[index].city_route_out +"("+ rtn[index].airport_route_out +")"
            br
            span(style="color:#8f8f8f;")=rtn[index].long_airport_route_out
        .row
          .col.s3
            span &emsp;
          .col.s9
            span(style="color:#8f8f8f;") Duration: 
              span= rtn[index].time_duration
        .row
          .col.s3.right-align
            strong= rtn[index].time_arvl
            br
            span(style="color:#8f8f8f;")= rtn[index].date_arvl + " " + rtn[index].month_arvl
          .col.s9
            strong=rtn[index].city_route_arvl +"("+ rtn[index].airport_route_arvl +")"
            br
            span(style="color:#8f8f8f;")=rtn[index].long_airport_route_arvl 
      div(id="rtn-facility-detail-"+ [index] class=".col.s12")
        .row
          .col.s12
            span= rtn[index].psc