doctype html
html(lang="en")
  head
    - var pagetitle = "Intl. Search Result"
    - var author = "arieare"
    include ./includes/head.jade
  body
    //- navbar start
    - var route = 'Jakarta ⇄ London'
    - var dpt_route_city = 'Jakarta – London'
    - var dpt_date = 'Thu, 5 May 2016'
    - var rtn_route_city = 'London – Jakarta'
    - var rtn_date = 'Sun, 8 May 2016'
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.center
            strong.flight-route= dpt_route_city
            span.flight-date= dpt_date
          ul.left
            li
              a.back-button(href="index 2.html" style="font-size:2em;")
                img(src="img/ic_arrow_back.png" width="32px" height="auto" style="margin-top:0.35em;")
    //- navbar end
    //- tab bar start
    #tab-content-container.col.s12
      #tab-nav-container(style="z-index:100;display:none;")
        ul.row.tab-nav-wrapper
          .active-indicator
          li.tab.col.s6.center-align
            a(href="#go-to-dpt-column" style="padding: 1em 1em;")
              span#bullet-number-1.bullet-number 1
              //- img(src="img/ic_check.png" width="24px" height="auto" style="display:inline;")
              span
                | &ensp;Departure
          li.tab.col.s6.center-align
            a(href="#go-to-rtn-column" style="padding: 1em 1em;")
              span#bullet-number-2.bullet-number 2
              | &ensp;Return
      #view-port-container(style="margin-top:-48px;")
        #dpt-column
          form#only-one.dpt-column(action="" data-accordion-group)
            span#dpt-route.hide= dpt_route_city
            span#dpt-flight-date.hide= dpt_date
            //- search result

            .row(style="background-color: #0d80ce;font-size: 0.8em;color: #ffffff;margin-left: -6px;margin-right: -6px;margin-top: -0.7em;padding: 0.5em 8px 0.3em;letter-spacing: 0.04em;margin-bottom: 0.5em;")
              span Select departure flight, 10 options found.
            include ./includes/search-item-dpt.jade
            //- search result
        #rtn-column
          form#only-one.rtn-column(action="" data-accordion-group)
            span#rtn-route.hide= rtn_route_city
            span#rtn-flight-date.hide= rtn_date
            //- search result
            .row(style="background-color: #0d80ce;font-size: 0.8em;color: #ffffff;margin-left: -6px;margin-right: -6px;margin-top: -0.7em;padding: 0.5em 8px 0.3em;letter-spacing: 0.04em;margin-bottom: 0.5em;")
              span Select return flight, 10 options found.
            .row(style="background-color: #fff;color: #8f8f8f;margin-left: -6px;margin-right: -6px;margin-top: -0.7em;padding: 0.5em 8px 0.3em;letter-spacing: 0.04em;margin-bottom: 0.5em;height:48px;border-bottom:1px solid #dadada")
              .col.s1.valign-wrapper(style="padding-left:0.5em;padding-top: 0.5em;")
                span(style="display:inline-block;color:#A8A8A8;") ✈️
              .col.s6(style="margin-top:-0.5em;")
                span(style="font-size:0.8em;color:#434343;") Total for 2 pax
                br
                //- span Lion (Rp1.823.900)  
                strong#totalpricesummary.currency(style="color:#434343;") 0           
              .col.s5
                span.right(style="margin-top:0.5em;") 
                  a(style="font-size:0.8em;" href="#go-to-dpt-column") Change Departure
            include ./includes/search-item-rtn.jade
            //- search result
    .row.price-update.valign-wrapper(style="z-index:100;")
      .col.s3.center
        span 
          a(href="#") SORT
      .col.s4.center
        span 
          a(href="#") FILTER
      .col.s5.center
        span 
          a(href="#") CHANGE DATE        
 
  include ./includes/modal-flight-summary.jade 
  include ./includes/modal-smart-combo.jade
 
//- accordion script
script.
  $(document).ready(function() {
    $('#only-one [data-accordion]').accordion();

    $('#multiple [data-accordion]').accordion({
      singleOpen: false
    });

    $('#single[data-accordion]').accordion({
      transitionEasing: 'cubic-bezier(0.455, 0.030, 0.515, 0.955)',
      transitionSpeed: 200
    });
  });
//- unselect radio script
script.  
  //collect all dpt price value in array
  var dpt_radios = document.getElementsByName('dpt');
  var dpt_col = [];
  dpt_col.push(#{dpt_prices});
  var rtn_radios = document.getElementsByName('rtn');
  var rtn_col = [];
  rtn_col.push(#{rtn_prices});

  var dpt_col_prices = [];
  var rtn_col_prices = [];

  for(var i=0; i< dpt_col.length; i++) {
    dpt_col_prices[i] = parseInt(dpt_col[i]) + parseInt(rtn_col[0]);
  };
  for(var i=0; i< rtn_col.length; i++) {
    rtn_col_prices[i] = parseInt(rtn_col[i]) + parseInt(dpt_col[0]);
  };
  console.log(dpt_col);
  console.log(rtn_col);
  console.log(dpt_col_prices);
  console.log(rtn_col_prices);
  //- update value for both columns
  for( var i = 0; i < dpt_radios.length; i++ ) {
      if(dpt_radios[i].type=='radio' ) {
          dpt_radios[i].value = dpt_col_prices[i];
          $("#dpt-price-"+[i]).html(dpt_col_prices[i].toString())
      }
  }
  for( var i = 0; i < rtn_radios.length; i++ ) {
      if(rtn_radios[i].type=='radio' ) {
          rtn_radios[i].value = rtn_col_prices[i];
          $("#rtn-price-"+[i]).html(rtn_col_prices[i].toString());
      }
  }

  function updatePrice(price1, price2, price3) {
    var updated_price = [];
    updated_price.push((parseInt(price1)+parseInt(price2))- parseInt(price3));
    return updated_price;
  }
  
  //- value for rtn_col_prices[0] if dpt_col_prices[1] selected
  //- price1 = original value before total roundtrip on those index
  //- price2 = original value before total roundtrip on those index (iterated for update)
  //- price3 = selected total roundtrip price, index same with price1
  console.log("if dpt_col_prices[1] selected");
  for(var i=0; i< rtn_col.length; i++) {
  console.log(updatePrice(dpt_col[1], rtn_col[i], dpt_col_prices[1]));
  }
  
  console.log("if rtn_col_prices[1] selected");
  for(var i=0; i< dpt_col.length; i++) {
  console.log(updatePrice(rtn_col[1], dpt_col[i], rtn_col_prices[1]));
  }
  

  // cek mana yang dipilih duluan buat milih harga
  var dpt_selected_first = false;
  var rtn_selected_first = false;
  $('input[type="radio"]').on('click', function() {
  //- kalau dpt yang kepilih duluan
  if (($("input[name='dpt']").is(':checked')) && (!$("input[name='rtn']").is(':checked'))) {
      dpt_selected_first = true;
      rtn_selected_first = false;
      console.log("departure dipilih duluan!")
      var a = $('input[name=dpt]').index($(this));
      console.log(a);
      console.log("Update Price RTN");
      var price_update = [];
      for(var i=0; i< rtn_col.length; i++) {
        price_update[i] = updatePrice(dpt_col[a], rtn_col[i], dpt_col_prices[a]);
        console.log(price_update);
      }
      for( var i = 0; i < rtn_radios.length; i++ ) {
          if(rtn_radios[i].type=='radio' ) {
              rtn_radios[i].value = price_update[i];
              $("#rtn-plussign-"+[i]).html("+");
              $("#rtn-price-"+[i]).html(price_update[i].toString())
              $("#rtn-price-"+[i]).autoNumeric('update');
          }
      }
    }

   //- kalau rtn yang kepilih duluan 
    else if (($("input[name='rtn']").is(':checked')) && (!$("input[name='dpt']").is(':checked'))) {
      dpt_selected_first = false;
      rtn_selected_first = true;
      console.log("return dipilih duluan!")
      var a = $('input[name=rtn]').index($(this));
      console.log(a);
      console.log("Update Price DPT");
      var price_update = [];
      for(var i=0; i< dpt_col.length; i++) {
        price_update[i] = updatePrice(rtn_col[a], dpt_col[i], rtn_col_prices[a]);
        console.log(price_update);
      }
      for( var i = 0; i < dpt_radios.length; i++ ) {
          if(dpt_radios[i].type=='radio' ) {
              dpt_radios[i].value = price_update[i];
              $("#dpt-plussign-"+[i]).html("+");
              $("#dpt-price-"+[i]).html(price_update[i].toString())
              $("#dpt-price-"+[i]).autoNumeric('update');
          }
      }
    }
  });

  //- cek kalo value pertama yang dipilih berubah
  $('input[name=dpt]').change(function() {
    if ((dpt_selected_first) && (!rtn_selected_first)) {
      console.log("departure kepilih duluan dan valuenya berubah nih!");
      $('input[name="rtn"]').attr("checked", false);
      //style
      $('input[name="rtn"]').parent().css({"border":"1px solid #dadada", "box-shadow": "0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.02)", "background-color":"#ffffff"});
      rtnPrice = 0;
      $("#bullet-number-2").html("2");
      $("#bullet-number-2").css("background-color", "rgba(255,255,255,.4)")
    }
  });
  $('input[name=rtn]').change(function() {
    if ((rtn_selected_first) && (!dpt_selected_first)) {
      console.log("return kepilih duluan dan valuenya berubah nih!");
      $('input[name="dpt"]').attr("checked", false);
      //style
      $('input[name="dpt"]').parent().css({"border":"1px solid #dadada", "box-shadow": "0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.02)", "background-color":"#ffffff"});
      dptPrice = 0;
      $("#bullet-number-1").html("1");
      $("#bullet-number-1").css("background-color", "rgba(255,255,255,.4)")
    }
  });
  //- Isi data ke flight summary
  $('.flight-detail-modal-trigger').on('click', function() {
    if ((!$("input[name='dpt']").is(':checked'))) {
      $('#selected-dpt-route').css({"color":"#8f8f8f"});
      $('#selected-dpt-route').html("Please choose departure flight");
      $('#selected-dpt-time').html("");
    }
    else if (($("input[name='dpt']").is(':checked'))){
      $('#selected-dpt-route').css({"color":"#434343"});
      $('#selected-dpt-route').html("#{dpt_date}"+" • "+$('input[name=dpt]:checked').attr("data-route"));
      $('#selected-dpt-time').html($('input[name=dpt]:checked').attr("data-time")+" ("+$('input[name=dpt]:checked').attr("data-duration")+")");
    }

    if ((!$("input[name='rtn']").is(':checked'))) {
      $('#selected-rtn-route').css({"color":"#8f8f8f"});
      $('#selected-rtn-route').html("Please choose return flight");
      $('#selected-rtn-time').html("");
    }
    else if (($("input[name='rtn']").is(':checked'))){
      $('#selected-rtn-route').css({"color":"#434343"});
      $('#selected-rtn-route').html("#{rtn_date}"+" • "+$('input[name=rtn]:checked').attr("data-route"));
      $('#selected-rtn-time').html($('input[name=rtn]:checked').attr("data-time")+" ("+$('input[name=rtn]:checked').attr("data-duration")+")");
    }
  });
  
  $('#book').on('click', function() {
    if ($('#book').hasClass( "disabled" )) {
       Materialize.toast('Choose departure & return flight to Book', 2500)
      }
    else {
       Materialize.toast('✓ Flight Booked!', 2500)      
      }
  });

//- currency script
script.
  $(".currency").autoNumeric('init',{
    aSep: ',',
    aDec: '.', 
    aSign: 'Rp ',
    mDec: '0'
  });